.barMain{
    width: 35%;
    

}
.graphwrapper{
    height: 300px;
    background-color: #ffffff;
    border-radius: 15px;
    
}
@media (max-width:768px){
    .barMain{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .graphwrapper{
        width: 90%;
    }
}