input,select {
    width: 217px;
    height: 40px;
    /* top: 377px; */
    /* left: 401px; */
    gap: 0px;
    border-radius: 15px ;
    opacity: 0px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: none;
    margin: 10px;

}
.button{
    font-family: 'Open Sans';
}
