.Addbalancewrapper {
  border-radius: 100px !important;

}
input {
    width: 217px;
    height: 40px;
    /* top: 377px; */
    /* left: 401px; */
    gap: 0px;
    border-radius: 15px ;
    opacity: 0px;
    box-shadow: 0px 4px 4px 0px #00000040;

}
.button{
    font-family: 'Open Sans';
}
.Addbalancewrapper h3{
    font-weight: 700;
}
